.composition__item {
  position: relative;
}

.composition__img {
  border-radius: 50%;
  width: 90px;
}

.composition__description {
  position: absolute;
  z-index: 3;
  bottom: 10px;
  left: 30px;
  color: @white;
  font-size: 12px;
}
