.promo__title {
  font-size: 55px;
  font-weight: 100;
  text-align: center;
  background-color: @green-light;
  color: @green-dark;
  text-transform: uppercase;
}

.promo__title-letter {
  font-style: italic;
}

.promo__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
