.promo {
  position: relative;
}

.promo__video {
  position: absolute;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  top: 0;
  z-index: 1;
  left: 0;
  width: 200%;
  margin-top: 170px;
}

.promo__title {
  font-size: 55px;
  font-weight: 300;
  text-align: center;
  background-color: @green-light;
  color: @green-dark;
  text-transform: uppercase;
  position: relative;
  z-index: 2;

  @media (min-width: @tablet-width) {
    font-size: 75px;
  }

  @media (min-width: @desktop-width) {
    font-size: 95px;
  }
}

.promo__title-letter {
  font-style: italic;
}

.promo__wrapper {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: @green-light;
  color: @white;
}

.promo__img {
  position: relative;
  z-index: 3;
  width: 200px;
}

.promo__list {
  position: relative;
  z-index: 4;
  font-size: 13px;
  font-weight: 100;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 35px;
  }

  @media (min-width: @desktop-width) {
    font-size: 35px;
    line-height: 45px;
  }
}

.promo__button {
  position: relative;
  z-index: 5;
  display: block;
  width: 190px;
  margin: 30px auto;
  background-color: @green-light;
  color: @white;
  border: none;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 10px;
  cursor: pointer;

  @media (min-width: @desktop-width) {
    width: 250px;
    font-size: 35px;
    line-height: 45px;
  }
}
