@white: #FFFFFF;
@black: #000000;
@yellow: rgba(235, 188, 83, 1);
@orange: #E77332;
@orange-light: #F4BB3A;
@red: #D10000;
@green: #9ECFA9;
@green-dark: #0A691F;
@grey:rgba(153, 153, 153, 1);
@grey-light:rgba(240, 240, 240, 1);

@green-light: rgba(79, 191, 165, 1);
@green-dark: rgba(0, 134, 138, 1);

@mobile-width: 375px;
@mobile-width-only: 719px;
@tablet-width: 720px;
@tablet-width-only: 1119px;
@desktop-width: 1200px;
@desktop-big-width: 1440px;
